body {
  margin: 0;
  padding: 0;
}

.game {
  margin: 0 auto;
  position: relative;
  width: 600px;
  height: 600px;
}

.layout {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  position: absolute;
  transform: translate(100px, 100px) rotate(45deg);
}
.grass {
  width: 80px;
  height: 80px;
  background-image: url(image/grass-1.png);
}

.tractor {
  position: absolute;
  width: 80px;
  height: 80px;
  transition: all 0.3s;
  z-index: 1000;
  background-image: url(image/tractor-n.png);
  background-size: cover;
}
